html {
    display: block;
    height: 100%;
    
}

body {
    display: flex;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
}


.content {
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    padding: 0.5em 1em;
}

.content a, .content a:visited {
    text-decoration: underline;
    color: #1e88e5;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.actions div {
    margin: 2em;
}

.pgp-key {
    margin-top: 2em;
    font-size: 1.4em;
    font-family: "Ubuntu Mono", monospace;
}


.footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    padding: 1.5em;
    background-color: #212121;
    width: 100%;
    color: white;
    justify-content: center;
}

.ribbon-top {
    background-color: #2196f3;
    height: 2em;
    width: 100%;
}

.ribbon-bottom {
    background-color: #dd2c00;
    height: 8px;
    width: 100%;
}

.footer a {
    margin: 1em;
    color: white;
}

.logo {
    margin-bottom: 2em;
}

.help-link {
    font-family: "Ubuntu", sans-serif;
    font-size: small;
}