<section class="uia-timeline__group" aria-labelledby="timeline-demo-1-heading-1">
  <div class="uia-timeline__point uia-card" data-uia-card-skin="1" data-uia-card-mod="1">
    <div class="uia-card__container">
      <div class="uia-card__intro">
        <span class="uia-card__time">
          <time datetime="{{POST_DATE_TYPE_1}}">
            <span class="uia-card__day">{{POST_DAY}}</span>
            <span>{{POST_MONTH_ABBR}}<span class="ha-screen-reader">{{POST_MONTH_REMAINDER}}</span></span>
          </time>
        </span>
      </div>
      <div class="uia-card__body">
        <div class="uia-card__description">
          <p>{{POST_LEAD}}</p>
        </div>
      </div>
    </div>
  </div>
</section>