<div class="uia-timeline__annual-sections">
  <span class="uia-timeline__year" aria-hidden="true">{{YEAR}}</span>
    <div class="uia-timeline__groups">
      {{TIMELINE_SECTIONS}}
    </div>
  </div>
</div>